# Built-In Type Methods

As we discussed in the lecture, all Python objects are **Objects**, which means they have **Properties/Attributes** (data) and **Methods** associated with them.  

|  Object    | type(Object)  |  Example Method  |  Example Attribute  | 
| :----:     | :----------:  |  :------------:  |  :---------------:  |
| "Hello"    |     str       |     lower()      |                     |
|    42      |     int       |    bit_length()  |     numerator       |
|   3.14     |    float      |    is_integer()  |     imag            |
| ['a', 'b'] |  list         |     append()     |                     |


These are accessible via the **. (dot)**, and an object's methods can be browsed in the notebook by typing the **Tab** key after the dot.

For example, here we use a **string** **Class**'s *title()* method to capitalize the first letter of each word of the film title:

In [0]:
film = 'the lion king'
film.capitalize()

'The lion king'

In [0]:
type(film)

str

In [0]:
bigfilm = film.title()
bigfilm

'The Lion King'

## Exercises: Strings

Use the string methods to modify the following strings to the versions described below.

### Changing Strings

Use the **strip**, **swapcase**, **title**, **lower**, **upper**, and **zfill** methods, or the **\+** or **\*** operators, to perform the following modifications:

**"I am angry"** -> **"I AM ANGRY"**

In [0]:
'I am angry'.upper()

'I AM ANGRY'

**"the lion king"** -> **"The Lion King"**

In [0]:
'the lion king'.title()

'The Lion King'

**He said, "Are you okay?"** -> **hE SAID, "aRE YOU OKAY?"**

In [0]:
'He said, \'Are you okay?\''.swapcase()

"hE SAID, 'aRE YOU OKAY?'"

**three** -> **threethreethree**

In [0]:
'three'*3

'threethreethree'

### Searching Substrings

Use the **replace**, **count**, and **index** methods to search for a substring and answer the following questions using the example sentence below:

```python
sentence = "The dog ate my watermelon when we were digging at the beach!"
```

In [0]:
sentence = "The dog ate my watermelon when we were digging at the beach!"

How many "w" characters are in this sentence?

In [0]:
sentence.count('w')

4

What character index does the word "watermelon" start on? (the first? The tenth?)

In [0]:
sentence.index('watermelon')

15

Replace the word "dog" in the sentence with the word "cat"

In [0]:
sentence.replace('dog','cat')

'The cat ate my watermelon when we were digging at the beach!'

### Formatting Strings

The most common method used for strings is the **format()** methods, so it deserves special mention.  It is used to insert data into a string.  It is similar to the **replace()** method but only replaces curly braces **{}**, but it is *way* more powerful.  In fact, there is a whole web page dedicated to showing all the ways you can use it: https://pyformat.info/

```python
label_fmt = "Sample {}: Vial {}"
label_fmt.format(3, 4)
>> "Sample 3: Vial 4"
```

Using the **format()** method, make the following three sentences out of the original sentence below:

In [0]:
sentence = "I bought {} dogs."

1. "I bought 3 dogs."

In [0]:
sentence.format(3)

'I bought 3 dogs.'

2. "Wendy bought 5 dogs."

In [0]:
sentence = '{} bought {} dogs'
sentence.format('Wendy',5)

'Wendy bought 5 dogs'

3. "George bought 700 dogs."

In [0]:
sentence.format('George', 700)

'George bought 700 dogs'

## Lists

Lists represent sequences of data.  They are made with either the square brackets **[]** or the **list()** constructor function.  They can be appended to, just like strings, but they can contain any kind of data--numbers, strings, even other lists.  Their methods mostly revolve around inserting and removing things:

| Method   |  What it Does                                  | 
| :-----:  |  :----------:                                  |
| append() | Appends an item to the end of the list.        | 
| extend() | Appends several items to the end of the list.  | 
| remove() | Removes an item from the list.                 |
| clear()  | Removes everything from the list.              | 
| copy()   | Returns a copy of the list.                    |
| count()  | Removes a specified item from the list         | 
| sort()   | Sorts the list.                                |
| reverse()| Reverses the order of items in the list.       |

**Example**

Here is a list of colors:

In [0]:
colors = ['Red', 'Blue', 'Yello']
colors

['Red', 'Blue', 'Yello']

Let's append the color 'Yellow' to the list:

In [0]:
colors.append('Yellow')
colors

['Red', 'Blue', 'Yello', 'Yellow']

*Note*: If you run the above code multiple times, 'Yellow' will be appended to the list multiple times!

### List Method Exercises

1. Make a list of 3 movie titles.

2. You have a list of subjects for your experiment, and you want to add another one to that list!  How could you do it?

In [0]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subject = 'ASF193'

3. Now, a bunch of new subjects appeared!  How do you extend/append them to the main list?

In [0]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subjects = ['ASF193', 'THW994', 'JJZ231']

4. Please sort those subjects alphabetically.  It looks better that way, doesn't it?

In [0]:
subjects = ['NOP234', 'GHS673', 'jGL212', 'ASF193', 'THW994', 'JJZ231']

5. Oh, no, 'JGL202' was a terrible subject, he intentionally ruined your study.  Well, there's no way you're keeping him.  How do you remove him from the list?

In [0]:
subjects = ['NOP234', 'GHS673', 'JGL212', 'ASF193', 'THW994', 'JJZ231']

## Further Learning Resources

  - Official Documentation on String Methods: https://docs.python.org/3/library/stdtypes.html#string-methods
  
  - Online Tutorial on Python Strings: https://realpython.com/python-strings/
  
  - Official Documentation on List Methods: https://docs.python.org/3/library/stdtypes.html#lists
  
  - Online Tutorial on Python Lists: https://realpython.com/python-lists-tuples/

## Extra Exercises

If you'd like to do some more, here they are!


1. You want to label your figure title with the subject code, and the subject code changes depending on which subject is being shown!  How could you stick a subject's name in your title string?

In [0]:
subject = 'NOP234'
title = "Mean Values of SUBJECT NAME's data over Time"

2. If you had formatted your title string in the following way, though, another string method would be more useful.  Which method would you use for this title:

In [0]:
subject1 = 'NOP234'
subject2 = 'GHS673'
title = "Performance Comparison between Subjects {} and {}"

3. The conference says it only takes abstracts that have a maximum word count of 100 words.  Did our abstract make the cut?  

*Hint: the len() function is useful here*

In [0]:
abstract = """We analyze the locomotor behavior of the rat during exploration, and show that digitally collected data (time series of positions) provide a sufftcient basis for establishing that the rat uses several distinct modes of motion (first, second, third, and sometimes fourth gear). The distinction between these modes is obtained by first segmenting the time series into sequences of data points occurring between arrests (as ascertained within the resolution of the data acquisition system). The statistical distribution of the maximal amount of motion occurring within each of these episodes is then analyzed and shown to be multi modal. This enables us to decompose motion into distinct modes."""

Oh, wait, now that I look closer, it actually says that it's a maximum of 100 **unique** words--duplicated words don't count.  How many unique words do we have in our abstract?  (What a strange conference...)


*Hint: Try this out with the **set()** class.*