

# Intro. to Python Syntax, Part 1
## Operators

## Exercises: Using Python as a calculator

Using the operators in the table below, ask Python to solve these difficult math equations:

|Assign to a Variable | Add  | Subract | Multiply | Divide | Power | Integer Divide | Remainder after Division | 
|  :---------------:  | :---:| :-----: | :------: | :----: | :---: | :------------: | :----------------------: |
|         =           |  +   |    -    |    *     |   /    |   **  |       //       |           %              |

1. What is two plus three?

In [0]:
sum = 2 + 3
print(sum)

5

2. What is two times three?

In [0]:
mult= 2*3
print(mult)

6

3. What is two to the third power?

In [0]:
power = 2**3
print (power)

8

3.5 How many (whole) times does 7 go into 100?

In [0]:
number = 100//7
print(number)

14

4. What is the remainder after dividing 3 from 2?

In [0]:
3%2

1

#### Let's See: Does Python do operations left-to-right, or follow the mathematical order of operations (addition and subtraction only after multiplication and division)?

Read each of the following math expressions to yourself and calculate (on paper, or in your head) what the answer shoud be.  Then check the answer by calculating it in Python.  Were they the same answer?

3 + 5 + 2 = 10

In [0]:
3+5+2

10

3 * 5 + 2 = 17

In [0]:
3*5+2

17

3 + 5 * 2 =13

In [0]:
3+5*2

13

(3 * 5) + 2 = 17

In [0]:
(3*5)+2

17

3 * (5 + 2) =21

In [0]:
3*(5+2)

21

What order is Python running the code?

# Testing Your Logic
## Bools

You can also ask Python logical questions (questions that have a "True" or "False" answer). 

| "Is Equal to" | "Is Greater than" | "Is Greater than or Equal to"|  "Is not Equal to" |
|  :----------: |  :----------:     |  :----------: |  :----------: |
| ==            |   >               |   >=          |  !=  |

Python will return "True" if the statement is true, "False" if False

```python
>>> 3 > 2
True

>>> 3 < 2
False

>>> 3 == 2
False
```

Using logical operators, decide if the following assertions are True or False:

1. One hundred is bigger than ten.

In [0]:
100> 10

True

2. Thirty squared is not equal to nine-hundred.

In [0]:
30**2!=900

False

3. These two equations are equal:  
  - 30 - 5 * 2
  - 100 / 5

In [0]:
30-5*2==100/5

True

4. The sum of the numbers from 1 to 5 are at least 15.

In [0]:
1+2+3+4+5>=15

True

(optional). The length of all the DNA in a single adult human, unravelled end to end, is greater than the distance from the earth to the the moon.

In [0]:
3 > 5 or 4 > 2

True

### Combining Logical Expressions: "And" and "Or"

Finally, you can combine logical expression with "and" and "or" operators.  Python has 2 ways of saying "and" and or:

| "And" | "Or" |
| :---: | :---:|
|  and  |  or  |
|   &   |  \|' |


```python
>>> 3 < 5 & 4 > 2
True

>>> 3 < 5 and 4 > 2
True

>>> 3 > 5 or 4 > 2
True

>>> 3 > 5 | 4 > 2
True
```